2+1

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
3/2

1.5

Modulo or "Mod" Operator

In [5]:
7/4

1.75

In [7]:
7%4

3

In [8]:
50%5

0

In [9]:
23%2

1

In [10]:
20%2

0

In [11]:
2**3

8

In [12]:
2+10*10+3

105

In [13]:
(2+10)*(10+3)

156

In [14]:
0.1+0.2-0.3

5.551115123125783e-17

In [15]:
(0.1+0.2)-0.3

5.551115123125783e-17

In [16]:
1+2-3

0

In [17]:
0.1000+0.2000-0.3000

5.551115123125783e-17

In [1]:
a = 5

In [19]:
a

5

In [2]:
a = 10

In [21]:
a

10

In [22]:
a + a

20

In [23]:
a = a + a

In [24]:
a

20

In [25]:
a

20

In [26]:
type(a)

int

In [27]:
a = 30.1

In [28]:
type(a)

float

# Variables

In [3]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [4]:
my_taxes

10.0

# Strings

In [5]:
'hello'

'hello'

In [6]:
"hello"

'hello'

In [7]:
"I'm going on a run"

"I'm going on a run"

In [8]:
print("hello")

hello

In [9]:
'hello world one'
'hello world two'

'hello world two'

In [10]:
print ('hello world one')
print ('hello world two')

hello world one
hello world two

In [12]:
print ('hello \nworld')

hello
world

In [13]:
print('hello \tworld')

hello 	world

In [14]:
len('hello')

5

In [15]:
len('I am')

4

# String Indexing and Slicing

In [16]:
mystring = "Hello World"

In [17]:
mystring

'Hello World'

In [18]:
mystring[0]

'H'

In [19]:
mystring[8]

'r'

In [20]:
mystring[-2]

'l'

In [21]:
mystring[-1]

'd'

In [22]:
mystring = 'abcdefghijk'

In [23]:
mystring

'abcdefghijk'

In [25]:
mystring[2:]

'cdefghijk'

In [26]:
mystring[:3]

'abc'

Stop index says go up to but not including - 3 is indexed as "d" so it isn't included

In [27]:
mystring

'abcdefghijk'

In [28]:
mystring[3:6]

'def'

In [29]:
mystring[1:3]

'bc'

In [31]:
mystring[::2]

'acegik'

In [32]:
mystring [2:7:2]

'ceg'

Above code states jump at 2 steps but stop at index 7 which is equal to h above

In [33]:
mystring[::-1]

'kjihgfedcba'

Above code is a trick that can be used to reverse a string

# String Properties and Methods

Immutability of strings - cannot change individual elements of a string using indexing as shown below

In [34]:
name = "Sam"

In [36]:
#name[0] = 'P'

In [37]:
last_letters = name[1:]

In [38]:
last_letters

'am'

In [39]:
'P'+last_letters

'Pam'

In [40]:
x = 'Hello World'

In [43]:
x = x + " it is beautiful outside!"

In [44]:
x

'Hello World it is beautiful outside!'

In [45]:
letter = 'z'

In [46]:
letter * 10

'zzzzzzzzzz'

In [47]:
2 + 3

5

In [48]:
'2'+'3'

'23'

In [49]:
x = 'Hello World'

In [50]:
x.upper()

'HELLO WORLD'

In [51]:
x.lower()

'hello world'

In [52]:
x.split()

['Hello', 'World']

In [53]:
x = 'Hi this is a string'

In [54]:
x.split()

['Hi', 'this', 'is', 'a', 'string']

In [55]:
x.split('i')

['H', ' th', 's ', 's a str', 'ng']

Above is how to create a list from a string using either white space or a particular character

# String Formatting for Printing

1) Formatting with the .format() method
A good way to format objects into your strings for print statements is with the string .format() method. The syntax is:

'String here {} then also {}'.format('something1','something2')

In [56]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [59]:
print ('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [60]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

### Float formatting follows "{value:width.precision f}"

In [61]:
result = 100/777

In [62]:
result

0.1287001287001287

In [66]:
print("The result was {r:1.3f}".format(r=result))

The result was 0.129

In [67]:
result = 104.12345

In [71]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [72]:
name = "Jose"

In [74]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [75]:
name = "Sam"
age = 3

In [76]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

# Lists in Python

In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['STRING',100,23.2]

In [3]:
len(my_list)

3

In [7]:
mylist = ['one','two','three']

In [8]:
mylist[0]

'one'

In [9]:
mylist[1:]

['two', 'three']

In [10]:
mylist

['one', 'two', 'three']

In [11]:
another_list = ['four','five']

In [13]:
new_list = mylist + another_list

new_list

In [14]:
new_list

['one', 'two', 'three', 'four', 'five']

In [15]:
new_list[0] = 'ONE ALL CAPS'

In [16]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [17]:
new_list.append('six')

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [19]:
new_list.append('seven')

In [20]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [21]:
new_list.pop()

'seven'

In [22]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [23]:
popped_item = new_list.pop()

In [24]:
popped_item

'six'

In [25]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [26]:
new_list.pop(0)

'ONE ALL CAPS'

In [27]:
new_list

['two', 'three', 'four', 'five']

In [28]:
new_list = ['a','e','x','b','c']
num_list = [4,1,8,3]

In [29]:
new_list.sort()

In [30]:
new_list

['a', 'b', 'c', 'e', 'x']

In [31]:
my_sorted_list = new_list.sort()

In [147]:
sorted(num_list)

[1, 3, 4, 8]

In [33]:
type(my_sorted_list)

NoneType

NoneType is a type in Python that is returned when trying to save a function that returns nothing, e.g .sort

In [34]:
new_list.sort()
my_sorted_list = new_list

In [35]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [36]:
type(my_sorted_list)

list

In [37]:
num_list

[4, 1, 8, 3]

In [38]:
num_list.sort()

In [39]:
num_list

[1, 3, 4, 8]

In [40]:
num_list.reverse()

In [41]:
num_list

[8, 4, 3, 1]

# Dictionaries in Python

Dictionaries are unordered mappings for storing objects. 

Dictionaries have objects that cannot be sorted - they are retrieved by key name whilst lists are objects retrieved by location.

Ordered sequence can be indexed or sliced.

In [42]:
my_dict = {'key1':'value1','key2':'value2'}

In [43]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [44]:
my_dict['key1']

'value1'

In [45]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [46]:
prices_lookup['apple']

2.99

In [47]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insideKey':100}}

In [52]:
d['k2'][2]

2

In [51]:
d['k3']['insideKey']

100

In [53]:
d = {'key1':['a','b','c']}

In [54]:
mylist = d['key1']

In [55]:
mylist

['a', 'b', 'c']

In [56]:
d['key1'][2].upper()

'C'

In [57]:
d = {'k1':100,'k2':200}

In [58]:
d

{'k1': 100, 'k2': 200}

In [59]:
d['k3'] = 300

In [60]:
d

{'k1': 100, 'k2': 200, 'k3': 300}

In [61]:
d['k1'] = 'NEW VALUE'

In [62]:
d

{'k1': 'NEW VALUE', 'k2': 200, 'k3': 300}

In [63]:
d['k4'] = {'Odoo':1950,'Godaddy':300,'Upkeep':60000}

In [64]:
d

{'k1': 'NEW VALUE',
 'k2': 200,
 'k3': 300,
 'k4': {'Odoo': 1950, 'Godaddy': 300, 'Upkeep': 60000}}

In [66]:
d['k4']['Upkeep']

60000

In [67]:
d = {'k1': 100, 'k2': 200, 'k3': 300, 'k4': {'Odoo': 1950, 'Godaddy': 300, 'Upkeep': 60000}}

In [68]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [69]:
d.values()

dict_values([100, 200, 300, {'Odoo': 1950, 'Godaddy': 300, 'Upkeep': 60000}])

In [70]:
d.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300), ('k4', {'Odoo': 1950, 'Godaddy': 300, 'Upkeep': 60000})])

In [71]:
d['k4'].keys()

dict_keys(['Odoo', 'Godaddy', 'Upkeep'])

In [72]:
d['k4'].values()

dict_values([1950, 300, 60000])

In [73]:
d['k4'].items()

dict_items([('Odoo', 1950), ('Godaddy', 300), ('Upkeep', 60000)])

* orderreddict object can help with having the capabilities of a dictionary as well as ordering

# Tuples in Python

Tuples are similar to lists with a key difference - immutability (they can not be changed/reassigned once an element is inside a tuple)

In [74]:
t = (1,2,3)

In [75]:
mylist = [1,2,3]

In [76]:
type(t)

tuple

In [77]:
type(mylist)

list

In [78]:
t = ('one',2)

In [79]:
t[0]

'one'

In [80]:
t[-1]

2

In [81]:
t[1]

2

In [82]:
t = ('a','a','b')

In [83]:
t.count('a')

2

In [84]:
t.index('a')

0

In [85]:
t
mylist

[1, 2, 3]

In [86]:
t

('a', 'a', 'b')

In [87]:
mylist[0] = 'NEW'

In [88]:
mylist

['NEW', 2, 3]

Tuples are great when you do not want elements to change or be accidentally reassigned

# Sets in Python

Sets are unordered collections of unique elements

In [89]:
myset = set()

In [90]:
myset

set()

In [91]:
myset.add(1)

In [92]:
myset

{1}

In [93]:
myset.add(2)

In [94]:
myset

{1, 2}

In [95]:
myset.add(2)

In [96]:
myset

{1, 2}

In [97]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3]

In [98]:
set(mylist)

{1, 2, 3}

# Booleans - Operators that contain both True or False statements

In [99]:
True

True

In [100]:
False

False

In [101]:
type(False)

bool

In [102]:
1 > 2

False

In [103]:
1 == 1

True

In [104]:
b = None

In [105]:
b

# Files
## Simple Input and Output with basic .txt files

In [106]:
%%writefile myfile.txt
Hello, this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [107]:
myfile = open('myfile.txt')

In [108]:
myfile = open('whoops_wrong.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops_wrong.txt'

In [109]:
pwd

'/Users/tunde/Documents/Personal/Python'

In [110]:
myfile = open('myfile.txt')

In [111]:
myfile.read()

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [112]:
myfile.read()

''

In [113]:
myfile.seek(0)

0

In [114]:
myfile.read()

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [117]:
myfile.seek(0)

0

In [118]:
contents = myfile.read()

In [119]:
contents

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [121]:
myfile.seek(0)

0

In [122]:
myfile.readlines()

['Hello, this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

## File Locations

For Windows you need to use double \ so python doesn't treat the second \ as an escape character, a file path is in the form:

myfile = open("C:\\Users\\UserName\\Folder\\test.txt")

For MacOS and Linux you use slashes in the opposite direction:

myfile = open("/Users/YouUserName/Folder/myfile.txt")

In [123]:
myfile.close()

In [124]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [125]:
contents

'Hello, this is a text file\nthis is the second line\nthis is the third line\n'

In [128]:
with open('myfile.txt',mode='r') as myfile:
    contents = myfile.read()

## Reading, Writing, Appending Modes

- mode='r' is read only
- mode='w' is write only (will overwrite files or create new!)
- mode='a' is append only (will add on to files)
- mode='r+' is reading and writing
- mode='w+' is writing and reading (Overwrites existing files or creates a new file!)

In [134]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [135]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [136]:
with open('my_new_file.txt', mode='a') as f:
    f.write('FOUR ON FOURTH')

In [137]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [139]:
with open('dhfjdkshfjdks.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [140]:
with open('dhfjdkshfjdks.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

In [141]:
type(3+1.5+47)

float

In [142]:
list3 = [1,2,[3,4,'hello']]

In [143]:
list3

[1, 2, [3, 4, 'hello']]

In [145]:
list3[2][2] = 'goodbye'

In [146]:
list3

[1, 2, [3, 4, 'goodbye']]

In [148]:
2 == 2

True

In [149]:
2 == 1

False

In [150]:
'Bye' == 'bye'

False

In [151]:
'2' == 2

False

In [152]:
2.0 == 2

True

# Comparison Operators
## Chaining Comparison Operators in Python using logical operators (and, or, not)

In [153]:
1 < 2

True

In [154]:
2 < 3

True

In [155]:
1 < 2 < 3

True

In [156]:
1 < 2 > 3

False

In [157]:
1 < 2 and 2 > 3

False

In [158]:
('h' == 'h') and (2 == 2)

True

In [161]:
100 == 1 or 2 == 200

False

In [162]:
1 == 1

True

In [163]:
not (1 == 1)

False

In [164]:
not 1 == 1

False

In [165]:
400 > 5000

False

In [166]:
not 400 > 5000

True

## Control Flow - If, elif and else

In [4]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

I'm not hungry

In [9]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print("Welcome to the store!")
else:
    print("I do not know much.")

I do not know much.

In [11]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy")
else:
    print("What is your name?")

What is your name?

## For Loops in Python

Iterable means to iterate over the object.
- You can iterate over every character in a string.
- You can iterate over every item in a list.
- You can iterate over every key in a dictionary.

my_iterable = [1,2,3]

for item_name in my_iterable:    (for every item in list)

In [12]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [13]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [14]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [16]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [17]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [18]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [25]:
mystring = 'Hello World'

for _ in mystring:
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [26]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [27]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [28]:
len(mylist)

4

In [30]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [34]:
for a,b in mylist:
    print(a)

1
3
5
7

In [35]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [36]:
for a,b,c in mylist:
    print(b)

2
6
9

In [37]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [38]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [39]:
for key,value in d.items():
    print(value)

1
2
3

In [40]:
for value in d.values():
    print(value)

1
2
3

## While Loops in Python

While loops will continue to execute a block of code while some condition remains True.

For example, while my pool is not full, keep filling my pool with water.

Or while my dogs are still hungry, keep feeding my dogs.

while some_boolean_condition:

    #do something
    
else:

    #do something different

In [43]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is not less than 5")

X is not less than 5

### Keywords in While Loops - break, continue, pass

We can use break, continue and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

- break:     Breaks out of the current closest enclosing loop.
- continue:  Goes to the top of the closest enclosing loop.
- pass:      Does nothing at all.

In [47]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('end of my script')

end of my script

In [48]:
mystring = 'Sammy'

In [49]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [50]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [52]:
x = 0

while x < 5:
    
    if x == 2:
        break
    print(x)
    x += 1

0
1

# Useful Operators in Python

In [53]:
mylist = [1,2,3]

In [57]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [61]:
mylist = list(range(0,11,2))

In [62]:
mylist

[0, 2, 4, 6, 8, 10]

In [64]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [65]:
index_count = 0
word = 'abcde'

for letter in word:
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [67]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [68]:
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [71]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [72]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [73]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [74]:
'x' in [1,2,3]

False

In [75]:
'x' in ['x','y','z']

True

In [76]:
'a' in 'a world'

True

In [77]:
'mykey' in {'mykey':345}

True

In [78]:
d = {'mykey':345}

345 in d.values()

True

In [79]:
345 in d.keys()

False

In [80]:
mylist = [10,20,30,40,100]

In [81]:
min(mylist)

10

In [82]:
max(mylist)

100

In [83]:
from random import shuffle

In [84]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [87]:
shuffle(mylist)

In [88]:
mylist

[2, 10, 1, 5, 6, 3, 9, 8, 4, 7]

In [89]:
from random import randint

In [90]:
randint(0,100)

28

In [91]:
mynum = randint(0,10)

In [92]:
mynum

2

In [93]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [99]:
name = input('What is your name? ')
age = int(input('How old are you? '))

What is your name? Gbade
How old are you? 37

In [100]:
name
age

37

In [98]:
int(age)

37

In [101]:
mystring = 'hello'

In [102]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [103]:
mylist

['h', 'e', 'l', 'l', 'o']

In [104]:
mylist = [letter for letter in mystring]

In [105]:
mylist

['h', 'e', 'l', 'l', 'o']

In [106]:
mylist = [x for x in 'word']

In [107]:
mylist

['w', 'o', 'r', 'd']

In [110]:
mylist = [num**2 for num in range(0,11)]

In [111]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [114]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [115]:
mylist

[0, 4, 16, 36, 64, 100]

In [116]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [117]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [118]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [119]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [120]:
result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [121]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [124]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [125]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [126]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [127]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

## Statements Assessment Test

Use for, .split() and if to create a Statement that will print out words that start with 's'

In [128]:
st = 'Print only the words that start with s in this sentence'

In [129]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

start
s
sentence

In [130]:
# Use range() to print all the even numbers from 0 to 10

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [131]:
# Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [132]:
# Go through the string below and if the length of the word is even print "even!"

st = 'Print every word in this sentence that has an even number of letters'

In [133]:
for word in st.split():
    if len(word) % 2 == 0:
        print(word+ ' is even!')

word is even!
in is even!
this is even!
sentence is even!
that is even!
an is even!
even is even!
number is even!
of is even!

In [138]:
#FizzBuzz.
#Write a program that prints the integers from 1 to 100. 
#But for multiples of three, print "Fizz" instead of the number,
#and for the multiples of five, print "Buzz". 
#For numbers which are multiples of both three and five, print "FizzBuzz"

for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('FizzBuzz')
    elif num%3 == 0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [139]:
#Use List comprehension to create a list of the first letters of every word in the string below:

st = 'Create a list of the first letters of every word in this string'

In [140]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

## Methods - Functions

In [141]:
mylist = [1,2,3]

In [142]:
mylist.append(4)

In [143]:
mylist

[1, 2, 3, 4]

In [144]:
mylist.pop()

4

In [145]:
mylist

[1, 2, 3]

In [146]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [151]:
#Functions - allow us to create blocks of code that can be
#easily executed many times, without needing to constantly
#rewrite the entire block of code.

def name_function():
    '''
    DOCSTRING: Information about the function
    INPUT:  no input...
    OUTPUT: Hello  ..
    '''
    print("Hello ")

In [152]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function
    INPUT:  no input...
    OUTPUT: Hello  ..

In [155]:
def say_hello(name='NAME'):
    print('hello '+name)

In [159]:
result = say_hello('Gbade')

hello Gbade

In [160]:
def say_hello(name = 'NAME'):
    return 'hello ' +name

In [161]:
result = say_hello('Gbade')

In [162]:
result

'hello Gbade'

In [163]:
def add(n1,n2):
    return n1+n2

In [164]:
result = add(20,30)

In [165]:
result

50

In [166]:
# Find out if the word "dog" is in a string?

In [172]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [174]:
dog_check('Cat ran away')

False

### PIG LATIN - A simple way to translate a normal word into a coded word.

- If word starts with a vowel, add 'ay' to end
- If word does not start with a vowel, put first letter at the end, then add 'ay'
- word   --> ordway
- apple  --> appleay

In [181]:
def pig_latin(word):
    
    first_letter = word[0]
    
    # check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
        
    return pig_word

In [184]:
pig_latin('word')

'ordway'

In [ ]:
def prime_fn(x):
     '''
    DOCSTRING: Function to check if number is a prime number
    INPUT:  integer
    OUTPUT: 'Prime' or 'Non-Prime'
    '''
    if x%x

In [189]:
def myfunc(a):
    if True:
        result = 'Hello'
    else:
        result = 'Goodbye'
    return result

In [192]:
def myfunc(a,b,c=0,d=0):
    # Returns 5% of the sum of a and b
    return sum((a,b,c,d)) * 0.05

In [195]:
myfunc(40,60,100,100)

15.0

In [196]:
def myfunc(*args):
    return sum(args) * 0.05

In [199]:
myfunc(40,60,100,1)

10.05

In [208]:
def myfunc(*args):
    print(args)
    for item in args:
        print(item)

In [209]:
myfunc(40,60)

(40, 60)
40
60

In [206]:
def myfunc(**kwargs):
    print (kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find my fruit here')

In [207]:
myfunc(fruit = 'apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

#### *args produce a tuple and **kwargs produce a dictionary

In [212]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [213]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [224]:
def myfunc(*args):
    return [item for item in args if item%2 == 0]

In [225]:
myfunc(5,6,7,8)

[6, 8]

In [238]:
def myfunc(word):
    myword=''
    for a,b in enumerate(word):
        if a%2 == 0:
            myword += b.lower()
        else:
            myword += b.upper()
    return myword

In [239]:
myfunc('Anthropomorphism')

'aNtHrOpOmOrPhIsM'

In [248]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        # both numbers are even
        return min(a,b)
    else:
        # One or both numbers are odd
        return max(a,b)

In [249]:
lesser_of_two_evens(2,4)

2

In [251]:
lesser_of_two_evens(7,1)

7

## Animal Crackers: 
### Write a function that takes a two-word string and returns True if both words begin with the same letter

In [260]:
def animal_crackers(text):
    wordlist = text.lower().split()
    
    return wordlist[0][0] == wordlist[1][0]

In [261]:
animal_crackers('Levelheaded Llama')

True

In [262]:
animal_crackers('Crazy cat')

True

In [274]:
# Given 2 integers, return True if the sum of the integers is 20
# or if one of the integers is 20. If not, return False
def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1 == 20 or n2 == 20

In [275]:
makes_twenty(20,10)

True

In [276]:
makes_twenty(2,3)

False

In [6]:
# OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
def old_macdonald(name):
    
    first_half  = name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() + second_half.capitalize()

In [8]:
old_macdonald('macdonald')

'MacDonald'

In [17]:
# MASTER YODA: Given a sentence, return a sentence with the words reversed

def master_yoda(text):
    
    wordlist = text.split()
    reverse_wordlist = wordlist[::-1]
    return ' '.join(reverse_wordlist)

In [18]:
master_yoda('We are ready')

'ready are We'

In [21]:
# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

def almost_there(n):
    
    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [22]:
almost_there(90)

True

In [26]:
almost_there(210)

True

In [27]:
# Find 33: Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

def has_33(nums):
    
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [28]:
has_33([1, 3, 1, 3])

False

In [29]:
has_33([1, 3, 3])

True

In [41]:
# PAPER DOLL: Given a string, return a string where for every character
# in the original there are three characters

def paper_doll(text):
    result = ''
    
    for i in text:
        
        result += i*3
        
    return result

In [42]:
paper_doll('Hello')

'HHHeeellllllooo'

In [60]:
# BLACKJACK: Given three integers between 1 and 11, if their sum is less than
# or equal to 21, return their sum. If their sum exceeds 21
# and there's an eleven, reduce the total sum by 10. 
# Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    resum = sum([a,b,c])
    
    if resum <= 21:
        resum
    elif 11 in [a,b,c] and (resum > 21):
        resum = resum - 10
        if resum > 21:
            resum = 'BUST'
    elif resum > 21:
        resum = 'BUST'
    return resum

In [61]:
blackjack(5,6,7)

18

In [62]:
blackjack(9,9,9)

'BUST'

In [63]:
blackjack(9,9,11)

19

### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

In [64]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num!= 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [65]:
summer_69([1,3,5])

9

In [66]:
summer_69([4,5,6,7,8,9])

9

In [69]:
summer_69([2,1,2,6,8,9,11])

16

###### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [70]:
def spy_game(nums):
    
    code = [0,0,7,'x']
    # After first pop - [0,7,'x']
    # After the second pop - [7,'x']
    # After the third pop - ['x'] length=1
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
    
    return len(code) == 1

In [71]:
spy_game([1,0,2,4,0,5,7])

True

In [72]:
spy_game([1,7,2,0,4,5,0])

False

In [73]:
spy_game ([1,2,4,0,0,7,5])

True

###### COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number.

By convention we'll treat 0 and 1 as not prime.

In [76]:
# count_primes(100)
def count_primes(num):
    
    # Check for 0 or 1 input
    if num < 2:
        return 0
    ################
    # 2 or greater
    ################
    
    # Store our prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3
    
    # x is going through every number up to the input number
    while x <= num:
        # Check if x is prime from 3 to x in steps of 2 because 
        # we are not checking even numbers
        for y in primes:
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
            
    print(primes)
    return len(primes)

In [77]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [78]:
def square(num):
    return num**2

In [79]:
my_nums = [1,2,3,4,5]

In [81]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [82]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [83]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [84]:
names = ['Andy','Eve','Sally']

In [85]:
list(map(splicer,names))

['EVEN', 'E', 'S']

### Note: Always pass map function with a function without parentheses - the input variable would be an argument as well as the function as seen above

In [86]:
def check_even(num):
    return num%2 == 0

In [87]:
mynums = [1,2,3,4,5,6]

In [89]:
list(filter(check_even,mynums))

[2, 4, 6]

In [90]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [95]:
square = lambda num: num ** 2

In [97]:
square(5)

25

In [98]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [99]:
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6]

In [100]:
names

['Andy', 'Eve', 'Sally']

In [102]:
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']

In [103]:
x = 25

def printer():
    x = 50
    return x

In [104]:
print(x)

25

In [105]:
print(printer())

50

## LEGB Rule:

* L: Local - Names assigned in any way within a function (def or lambda) and not declared global in that function.
* E: Enclosing function locals - Names in the local scope of any and all enclosing functions (def or lambda), from inner to outer.
* G: Global (module) - Names assigned at the top-level of a module file, or declared global in a def within the file.
* B: Built-in(Python) - Names preassigned in the built-in names module: open, range, SyntaxError,...

In [106]:
#Local variable
lambda num:num**2

In [119]:
# GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    # ENCLOSING
#    name = 'Sammy'
    
    def hello():
        # LOCAL
#        name = 'IM A LOCAL'
        print('Hello '+name)
        
    hello()

In [120]:
greet()

Hello THIS IS A GLOBAL STRING

In [135]:
x = 50

def func(x):
    
    print(f'X is {x}')
    
    # Local reassignment!
    x = 'New Value'
    print(f'I just locally changed X to {x}')
    return x

In [137]:
func(x)

X is 50
I just locally changed X to New Value

'New Value'

In [138]:
print(x)

50

In [1]:
# Write a function that computes the volume of a sphere given its radius

def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [2]:
vol(3)

113.03999999999999

In [20]:
# A function that checks whether a number is in a given range(inclusive of high and low)

def ran_bool(num,low,high):
    #Check if num is between low and high (including low and high)
    return num in range(low,high)

In [23]:
ran_bool(10,1,10)

False

In [25]:
# Function that accepts a string and calculate the number of upper and lower case letters

def up_low(s):
    d = {"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print ("Original String : ", s)
    print ("No. of Upper case characters: ", d["upper"])
    print ("No. of Lower case characters: ", d["lower"])

In [26]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters:  4
No. of Lower case characters:  33

In [27]:
# Function that takes a list and returns a new list with unique elements of the first list

def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

In [28]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [29]:
# Function to multiply all the numbers in a list

def multiply(numbers):
    total = numbers[0]
    for x in numbers:
        total *= x
    return total

In [30]:
multiply([1,2,3,-4])

-24

In [31]:
# Function that checks if a passed string is palindrome or not
# A palindrom is a word,phrase or sequence that reads the same backward as forward

def palindrome(s):
    return s == s[::-1]

In [32]:
palindrome('hello')

False

In [33]:
palindrome('helleh')

True

In [35]:
# Function that checks if a string is a pangram or not.
# Pangrams are words or sentences containing every letter of the alphabet at least once.

import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

In [36]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [35]:
from IPython.display import clear_output

#Global variables
board = [' '] * 10
game_state = True
announce = ''

In [36]:
def reset_board():
    global board,game_state
    board = [' '] * 10
    game_state = True

In [37]:
#1 Display the board
def display_board():
    clear_output()
    print(board[7]+ '|' + board[8] + '|' + board[9])
    print(board[4]+ '|' + board[5] + '|' + board[6])
    print(board[1]+ '|' + board[2] + '|' + board[3])

In [83]:
test_board = ['#','X','O','X','O','X','O','X','O','X']
display_board(test_board)
display_board(test_board)

X|O|X
O|X|O
X|O|X

In [18]:
#2 Write afunction that can take in a player input and 
# assign their marker as 'X' or 'O'
def player_input():
    
    #OUTPUT = (Player 1 marker, Player 2 marker)
    
    marker = ''
    
    while marker != 'X' and marker != 'O':
        marker = input('Player1: Choose X or O: ').upper()
        
    if marker == 'X':
        
        return ('X', 'O')
    else:
        return ('O','X')

In [85]:
player1_marker , player2_marker = player_input()

Player1: Choose X or O: x

In [86]:
player1_marker

'X'

In [87]:
player2_marker

'O'

In [19]:
#3 Write a function that takes in the board list object, 
# a marker('X' or 'O'), and a desired position (number 1-9)
# and assigns it to the board
def place_marker(board, marker, position):
    
    board[position] = marker

In [89]:
test_board

['#', 'X', 'O', 'X', 'O', 'X', 'O', 'X', 'O', 'X']

In [90]:
place_marker(test_board,'$',8)
display_board(test_board)

X|$|X
O|X|O
X|O|X

In [38]:
#4 Write a function that takes in a board and a mark(X or O)
# and then checks to see if that mark has won
def win_check(board, player):
    
    # Win Tic Tac Toe?
    
    # All rows and check to see if marker matches
    if ((board[1] == board[2] == board[3] == player.upper()) or
    (board[4] == board[5] == board[6] == player.upper()) or
    (board[7] == board[8] == board[9] == player.upper()) or
    
    # All columns and check to see if marker matches
    (board[1] == board[4] == board[7] == player.upper()) or
    (board[2] == board[5] == board[8] == player.upper()) or
    (board[3] == board[6] == board[9] == player.upper()) or
            
    # 2 diagonals and check to see match
    (board[1] == board[5] == board[9] == player.upper()) or
    (board[3] == board[5] == board[7] == player.upper())):
        return True
    else:
        return False

In [92]:
display_board(test_board)
win_check(test_board,'x')

X|$|X
O|X|O
X|O|X

True

In [21]:
#5 Write a function that uses the random module to randomly
# decide which player goes first. You may want to lookup
# random.radint() Return a string of which player went first.

import random

def choose_first():
    
    flip = random.randint(0,1)
    
    if flip == 0:
        return 'Player 1'
    else:
        return 'Player 2'

In [22]:
#6 A function that returns a boolean indicating whether a
# space on the board is freely available.

def space_check(board, position):
    
    return board[position] == ' '

In [39]:
#7 A function that checks if the board is full and returns
# a boolean value. True if full, False otherwise.

def full_board_check(board):
    
    if " " in board[1:]:
        return False
    else:
        return True
    
    #for i in range(1,10):
    #    if space_check(board,i):
    #        return False
    # Board is full if we return True
    #return True

In [40]:
def ask_player(mark):
    # Asks player where to place X or O mark, checks validity
    global board
    req = 'Choose where to place your: ' + mark
    while True:
        try:
            choice = int(input(req))
        except ValueError:
            print("Sorry, please input a number between 1-9.")
            continue
            
        if board[choice] == " ":
            board[choice] = mark
            break
        else:
            print("That space isn't empty!")
            continue

In [41]:
#8 A function what asks for a player's next position
#(as a number 1-9) and then uses the function from step 6
#to check if it's a free position. If it is, then return
# the position for later use.

def player_choice(mark):
    global board,game_state,announce
    #Set game blank game announcement
    announce = ''
    #Get Player Input
    mark = str(mark)
    # Validate input
    ask_player(mark)
    
    #Check for player win
    if win_check(board,mark):
        clear_output()
        display_board()
        announce = mark +" wins! Congratulations"
        game_state = False
        
    #Show board
    clear_output()
    display_board()
    
    #Check for a tie
    if full_board_check(board):
        announce = "Tie!"
        game_state = False
        
    return game_state,announce

In [26]:
#9 A function that asks the player if they want to play
#again and returns a boolean True if they do want to play
#again.

def replay():
    
    choice = input("Play again? Enter Yes or No")
    
    return choice == 'Yes'

In [ ]:
#10 Use while loops and the functions 
# created to run the game!

# While loop to keep running the game
print('Welcome to Tic Tac Toe')

while True:
    
    # Play the game
    
    ## Set everything up (Board, who's first, choose markers X,O)
    the_board = [' ']*10
    player1_marker, player2_marker = player_input()
    
    turn = choose_first()
    print(turn + ' will go first')
    
    play_game = input('Ready to play? y or n? ')
    
    if play_game == 'y':
        game_on = True
    else:
        game_on = False
    
    ## Game Play
    
    while game_on:
        
        # Player One Turn
        if turn == 'Player 1':
            
            # Show the board
            display_board(the_board)
            # Choose a position
            position = player_choice(the_board)
            # Place the marker on the position
            place_marker(the_board,player1_marker,position)
            
            # Check if anybody won
            if win_check(the_board,player1_marker):
                display_board(the_board)
                print('Player 1 has Won!!!')
                game_on = False
            # Check if there is a tie
            else:
                # Check if the board is full
                if full_board_check(the_board):
                    display_board(the_board)
                    print("Tie Game!")
                    game_on = False
                # No tie and no win? Next player's turn
                else:
                    turn = 'Player 2'
     
        # Player Two Turn
        else:
            # Show the board
            display_board(the_board)
            # Choose a position
            position = player_choice(the_board)
            # Place the marker on the position
            place_marker(the_board,player2_marker,position)
            
            # Check if anybody won
            if win_check(the_board,player1_marker):
                display_board(the_board)
                print('Player 2 has Won!!!')
                game_on = False
            else:
                # Check if the board is full
                if full_board_check(the_board):
                    display_board(the_board)
                    print("Tie Game!")
                    game_on = False
                else:
                    turn = 'Player 1'
  
    
    if not replay():
        break
    # Break out of the while loop on replay()
    # to continue running the game

In [42]:
def play_game():
    reset_board()
    global announce
    
    # Set marks
    X='X'
    O='O'
    while True:
        # Show board
        clear_output()
        display_board()
        
        # Player X turn
        game_state,announce = player_choice(X)
        print(announce)
        if game_state == False:
            break
            
        # Player O turn
        game_state,announce = player_choice(O)
        print(announce)
        if game_state == False:
            break
            
    # Ask player for a rematch
    rematch = input('Would you like to play again? y/n')
    if rematch == 'y':
        play_game()
    else:
        print("Thanks for playing!")

In [46]:
play_game()

X| |
X|O|O
X|X|O
X wins! Congratulations
Would you like to play again? y/nn
Thanks for playing!

### Object Oriented Programming (OOP) 
* OOP allows programmers to create their own objects that have methods and attributes.
* Recall that after defining a string, list, dictionary or other objects, you were able to call methods off them with the .method_name() syntax. Something that looks like a function is called a method when inside an object or class.

In [47]:
# class NameOfClass():

    # def__init__(self,param1,param2):
        # self.param1 = param1
        # self.param2 = param2
        
    # def some_method(self):
        # perform some action
        #print(self.param1)

In [48]:
type(class)

SyntaxError: invalid syntax (<ipython-input-48-41b01f6c00e6>, line 1)

In [96]:
# The class must have initcap for every word by convention
class Dog():
    
    # Class Object Attribute
    # Same for any instance of a class (don't use .self)
    species = 'Mammal'
    
    # The init method is the first method in a class
    # It must always have a self(instance of class) attribute
    # By convention, the parameter passed in class = attribute 
    # parameter = .attribute with (self) = assignment call
    # parameters do not need to be assigned as strings, etc.
    def __init__(self,breed,name):
        
        # Attributes
        # We take in the argument
        # Assign it using self.attribute_name
        self.breed = breed
        self.name = name
        
    # Operations/Actions --- > Methods
    def bark(self,number):
        print("WOOF! My name is {} and the number is {}".format(self.name,number))

In [97]:
my_dog = Dog('Lab','Frankie')

In [98]:
type(my_dog)

__main__.Dog

In [99]:
my_dog.breed

'Lab'

In [100]:
my_dog.name

'Frankie'

In [101]:
my_dog.species

'Mammal'

In [103]:
my_dog.bark(10)

WOOF! My name is Frankie and the number is 10

In [117]:
class Circle():
    
    # Class Object Attribute - always true
    # Always true irrespective of the instance of the object
    pi = 3.14
    
    
    def __init__(self,radius=1):
        
        self.radius = radius
        self.area = radius*radius*Circle.pi
        
    # Method
    def get_circumference(self):
        return self.radius * Circle.pi * 2

In [118]:
my_circle = Circle(30)

In [119]:
my_circle.pi

3.14

In [120]:
my_circle.radius

30

In [121]:
my_circle.area

2826.0

### OOB Part 3 - Inheritance and Polymorphism. An inheritance is a way to form new classes using classes that have already been defined.

In [130]:
class Animal():
    
    def __init__(self):
        print("Animal Created")
        
    def who_am_i(self):
        print("I am an animal")
        
    def eat(self):
        print("I am eating")

In [141]:
class Dog(Animal):
    
    def __init__(self):
        Animal.__init__(self)
        print("Dog Created")
        
    def eat(self):
        print("I am a dog and eating")
        
    def bark(self):
        print("WOOF!")

In [142]:
mydog = Dog()

Animal Created
Dog Created

In [143]:
mydog.eat()

I am a dog and eating

In [145]:
mydog.bark()

WOOF!

In [144]:
mydog.who_am_i()

I am an animal

In [125]:
myanimal = Animal()

Animal Created

In [128]:
myanimal.eat()

I am eating

In [129]:
myanimal.who_am_i()

I am an animal

### Polymorphism refers to the way different object classes can share the same object name and those methods can be called from the same place.

In [148]:
class Dog():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + " says woof!"

In [149]:
class Cat():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        return self.name + " says meow!"

In [150]:
niko = Dog("niko")
felix = Cat("felix")

In [151]:
print(niko.speak())

niko says woof!

In [152]:
print(felix.speak())

felix says meow!

In [154]:
for pet in [niko,felix]:
    
    print(type(pet))
    print(pet.speak())

<class '__main__.Dog'>
niko says woof!
<class '__main__.Cat'>
felix says meow!

In [155]:
def pet_speak(pet):
    print(pet.speak())

In [156]:
pet_speak(niko)

niko says woof!

In [157]:
pet_speak(felix)

felix says meow!

In [158]:
# Abstract Classes
class Animal():
    
    def __init__(self,name):
        self.name = name
        
    def speak(self):
        raise NotImplementedError("Subclass must implement this abstract method")

In [161]:
class Dog(Animal):
    
    def speak(self):
        return self.name+ " says woof!"

In [161]:
class Cat(Animal):
    
    def speak(self):
        return self.name+ " says meow!"

In [163]:
fido = Dog("Fido")
isis = Cat("Isis")

print(fido.speak())
print(isis.speak())

Fido says woof!
Isis says meow!

### OOP Part 4 - Special/Magic/Dunder Methods (Using built-in Python functions with user defined objects.

In [164]:
mylist = [1,2,3]

In [165]:
len(mylist)

3

In [166]:
class Sample():
    pass

In [167]:
mysample = Sample()

In [169]:
print(mysample)

<__main__.Sample object at 0x111e31438>

In [192]:
class Book():
    
    def __init__(self,title,author,pages):
        
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f"{self.title} by {self.author}"
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print("A book object has been deleted")

In [193]:
b = Book('Python rocks','Jose',200)

In [194]:
print(b)

Python rocks by Jose

In [195]:
str(b)

'Python rocks by Jose'

In [196]:
len(b)

200

In [197]:
del b

A book object has been deleted

In [198]:
b

NameError: name 'b' is not defined

In [211]:
# Find distance and slope between two points(coordinates)

class Line:
    
    def __init__(self,coor1,coor2):
        
        self.coor1 = coor1
        self.coor2 = coor2
    
    def distance(self):
        self.dist = (((self.coor2[0] - self.coor1[0])**2) + 
                     ((self.coor2[1] - self.coor1[1])**2))**0.5
        return self.dist
    
    def slope(self):
        self.slpe = (self.coor2[1]-self.coor1[1])/(self.coor2[0]-self.coor1[0])
        return self.slpe

In [212]:
coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [213]:
li.distance()

9.433981132056603

In [214]:
li.slope()

1.6

In [221]:
class Cylinder:
    
    pi = 3.14
    
    def __init__(self,height=1,radius=1):
        
        self.height = height
        self.radius = radius
    
    def volume(self):
        self.vol = (Cylinder.pi)*(self.radius**2)*(self.height)
        return self.vol
    
    def surface_area(self):
        self.sa = 2*(Cylinder.pi*self.radius*self.height)+ \
                  2*(Cylinder.pi*(self.radius**2))
        return self.sa

In [222]:
c = Cylinder(2,3)

In [223]:
c.volume()

56.52

In [224]:
c.surface_area()

94.2

In [311]:
# Create a bank account that has 2 attributes:
# owner & balance and two methods:
# deposit & withdraw and 
# withdrawals may not exceed the available balance

class Account:
    
    def __init__(self,owner,balance):
        
        self.owner = owner
        self.balance = balance
        
    def __str__(self):
        
        return f"Account Owner: {self.owner} \nAccount Balance: {self.balance}"
    
    def deposit(self,dep):
        
        self.balance = self.balance + dep
        
        return f"Deposit of {dep} accepted. New account balance is {self.balance}"
    
    def withdraw(self,drw):
        
        if self.balance > 0 and (drw <= self.balance):
            self.balance = self.balance - drw
            
            return f"Withdrawal of {drw} accepted. New account balance is {self.balance}"
        
        else:
            
            return f"Funds Unavailable!"

In [312]:
acct1 = Account('Jose',100)

In [313]:
print(acct1)

Account Owner: Jose
Account Balance: 100

In [314]:
acct1.owner

'Jose'

In [315]:
acct1.balance

100

In [316]:
acct1.deposit(50)

'Deposit of 50 accepted. New account balance is 150'

In [317]:
acct1.withdraw(75)

'Withdrawal of 75 accepted. New account balance is 75'

In [318]:
acct1.withdraw(500)

'Funds Unavailable!'

In [319]:
print(acct1)

Account Owner: Jose
Account Balance: 75

In [320]:
acct1.withdraw(75)

'Withdrawal of 75 accepted. New account balance is 0'

In [321]:
print(acct1)

Account Owner: Jose
Account Balance: 0

In [322]:
acct1.withdraw(5)

'Funds Unavailable!'